<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= config.name %> status page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>
    <div class="center jumbotron">
        <h1>
            <%= config.name %> Status page</h1>
        <p class="">
            <%= config.desc %>
        </p>
    </div>

    <div class="apps container">
        <% for (var category in apps) { %>
            <br>
            <p class="categoryTitle">
                <strong><%= apps[category].name %></strong>
            </p>
            <p class="categoryDesc">
                    <%= apps[category].description %>
            </p>
            <% for(var app in apps[category].apps) { %>
                <div class="card">
                    <div class="card-body">
                        <%= apps[category].apps[app].name %>
                            <span class="badge badge-<%= apps[category].apps[app].status.type %>">
                                <%= apps[category].apps[app].status.text %>
                            </span>
                            <div class="de"><img src="/assets/info.png">
                                <span class="detext"><%= apps[category].apps[app].description %></span>
                            </div>
                    </div>
                </div>
                <% } %>
                    <% } %>
    </div>

    <!-- 
        IGNORE BOTTOM
     -->
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>